
.modal__popup-img-title{
    font-family: "Inter";
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    margin-top: 10px;
    margin-left: 50%;
    transform: translateX(-05%);
}


@media screen and (min-width:320px)and (max-width:898px) {
    .modal__popup-img-title{
        margin-left: 45%;
    }   
}