

.modal__popup-img-background {
    max-width: 75vw;
    max-height: 75vh;
    position: relative;
    display: flex;
    margin-top: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
}
@media screen and (min-width:320px)and (max-width:768px) {
    .modal__popup-img-background{
        width: 240px;
        height: 299px;
    }   
}